# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
**/packages/*
# Except build/, which is used as an MSBuild target
!**/packages/build/

# MSTest test Results
[Tt]est[Rr]esult*/

# Other common ignored files
*.log
*.vspscc
*.vssscc
_i.c
_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.scc
*.tlb
*.tli
*.tlh
*.tmp
*.vcproj.*.user
*.vcxproj.*.user
*.wmdb
*.xml.user

/.pulumi/
/.vscode/
/.vs/
bin/
build/
node_modules/
*.pyc
.Python
venv/
include/
lib/
yarn.lock
package-lock.json
Pulumi.*.yaml
.idea/
.ionide/
*.iml
key.rsa*
obj/
vendor
Gopkg.lock
**/.DS_Store
*.user

**/ci-scripts

# Java app
.gradle/
.settings/
.project
.classpath
target/
*-test/